body {
    background-image: url("https://orig00.deviantart.net/2162/f/2006/335/c/c/burger_background_by_lz3broc.jpg");
   
    height: 100%; 
   
   
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   }

* {
    border: solid pink 3px;
}

